@import reset
@import colors

body
  background-color: $navy-blue
  color: $off-white
  font-family: 'Droid Sans', sans-serif
  font-size: 1em
  text-align: center


*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  font-family: 'Kreon', serif
  font-size: 4em
